#llegada{
    position: absolute; 
    top: 70px;
    left: 350px;
    width: 100px;
    height: 100px;
    background-color: black;
}
#cuadrado{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 30px;
    top: 50px;
}
.cuadros span{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: Calibri;
}
.cuadros span.s1{
    left: 42%;
    top: 0px;
}
.cuadros span.s2{
  left: 5px;
  top: 40%;
}
.cuadros span.s3{
  right: 5px;
  top: 40%;
}
.cuadros span.s4{
  bottom: 0px;
  left: 43%
}
#aviso{
    visibility: hidden;
    font-family: Arial;
    font-size: 40px;
    top: 250px;
    left: 35%;
    position: absolute;
}